@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700;900&display=swap");

:root {
    --primary-font: "Karla", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --off-white: #d5d4d8;
    --blue-background: #1f2937;
    --box-color: #273549;
    --green-background: #10b981;
    --green-text: #4adf86;
    --password-color: #55f991;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgba(17, 17, 17, 0.956);
    color: white;
    display: flex;
    font-size: 16px;
    overflow: hidden;
}

.container {
    margin: auto;
    width: 550px;
    min-height: 550px;
    background-color: var(--blue-background);
    border-radius: 4px;
    padding: 50px 50px 20px;
    font-family: var(--primary-font);
    box-shadow: 0 0 10px white;
    position: relative;
}

.copy-prompt {
    position: absolute;
    top: 10px;
    right: 0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: var(--green-background);
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.show-copy-prompt {
    opacity: 1;
    transform: translateX(-10%);
}

h1 {
    margin-bottom: 5px;
    font-size: 2.3rem;
    font-weight: 900;
}

.different-heading {
    display: block;
    color: var(--green-text);
}

h4 {
    color: var(--off-white);
    font-weight: lighter;
    font-family: var(--secondary-font);
}

.btns {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
}

button {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: var(--green-background);
    font-family: var(--secondary-font);
}

.disable {
    opacity: 0.3;
}

button:hover {
    background-color: #199c70;
}

button:active {
    transform: scale(0.95);
}

.line-break {
    border: 1px solid var(--box-color);
    margin-top: 25px;
}

.generation-area {
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.empty-space {
    width: 50%;
    height: 40px;
    padding-top: 10px;
    background-color: var(--box-color);
    border-radius: 4px;
    text-align: center;
    color: var(--password-color);
}

/* Additional Features */

form {
    margin-top: 20px;
    font-family: monospace;
    color: #d5d3d3;
}

.slider-lbl {
    margin-left: 30px;
    font-size: large;
    font-weight: bold;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 15px;
    width: 50%;
    cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
    height: 3px;
    background-color: black;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin: -10px 3px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--green-background);
}

.slider::-webkit-slider-thumb:hover {
    background-color: #149b70;
}

.checkboxes {
    margin-top: 15px;
}

.checkboxes div {
    margin-top: 5px;
}

/* input[type="checkbox"] */
.checkboxes div input {
    appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    cursor: pointer;
    border: 1.5px solid var(--off-white);
    border-radius: 1px;
    transform: translateY(3px);
}

.checkboxes div input:checked {
    background-color: var(--green-background);
}

.checkboxes div label {
    margin-left: 5px;
    cursor: pointer;
}

.copy-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: gray;
    margin-left: -35px;
}

.copy-icon:active {
    transform: scale(0.96);
}

@media screen and (max-width: 576px) {
    .container {
        margin: 1.5em;
    }
}

@media screen and (max-width: 518px) {
    .generation-area {
        margin-top: 20px;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .empty-space {
        width: 75%;
    }
}

@media screen and (max-width: 466px) {
    h1 {
        font-size: 2rem;
    }
    h4 {
        font-size: 0.9rem;
    }
}
